body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'popins';
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(29, 149, 229);
    padding: 10px;
}
.toDo-app{
    width: 100%;
    max-width: 500px;
    background-color: aqua;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.toDo-app h1{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.toDo-app img{
    width: 30px;
    /* margin-left: 10px; */
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(227, 217, 238);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 15px;
    flex: 1;
    background-color: transparent
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: rgb(233, 111, 66);
    /* color: rgb(21, 6, 2); */
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
}
ul li{
    list-style: none;
    font-size: 15px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    position: relative;
}
ul li::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50px;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
 ul li.checked{
    color: brown;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);

}
ul li span{
    position: absolute;
    right: 0;
   top: 5px;
    height: 40px;
    width: 40px;
    color: rgb(231, 16, 16);
    font-size: 22px;
    line-height: 40px;
    text-align: center;
}
ul li span :hover{
    background: rgb(226, 215, 215);
}